/* index.html.erb */
.food-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 2.5%;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--primary);
  overflow: hidden;
}

.btn-primary {
  align-self: flex-end;
  margin: 0 15% 1.25% 0;
  background-color: #04aa6d;
  color: #fff;
  padding: 10px;
  box-shadow: 0 5px 10px -5px #000;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
}

.btn-danger {
  border: none;
  text-decoration: underline;
  color: #8a2be2;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

/* new.html.erb */
.form-header {
  color: #fff;
  font-weight: bolder;
}

.form-container {
  box-shadow: 0 5px 10px -5px #000;
  min-width: 50vw;
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: #fff;
}

.form-group {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 3.5fr;
  margin: 0 0 5px 0;
}

.form-control,
.form-group select {
  padding: 15px;
}

.form-control:focus {
  outline: none;
}

.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1.2rem;
}

.btn-submit {
  background-color: #04aa6d;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin: 0;
  text-align: center;
  height: 44px;
  width: 100%;
  outline: none;
  overflow: hidden;
  padding: 0.5rem 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-submit:hover,
.btn-submit:focus {
  opacity: 0.75;
}

.btn-cancel {
  height: 44px;
  width: 100%;
}

.form-label {
  background-color: var(--primary);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .form-group {
    grid-template-columns: 1fr;
  }
}
