/* Header styles */
.main-header {
  background-color: #fff;
  width: 100%;
  margin: 0;
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.brand {
  text-decoration: none;
  font-size: 3rem;
  color: var(--danger);
  transition: all 0.2s ease-in;
  font-family: 'Great Vibes', cursive;
}

.brand:hover {
  color: var(--gold);
}

#toggle-nav-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

#toggle-nav-btn:active {
  color: var(--primary);
  transform: scale(1.2);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

.nav-links a {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
  color: #e54b4b;
}

.user-info {
  display: flex;
  gap: 0.5rem;
  padding: 0.35rem;
  font-size: 0.8rem;
  text-align: center;
}

.user-icon {
  display: flex;
  width: 2.1rem;
  align-items: center;
  justify-content: center;
  height: 2.1rem;
  border-radius: 50%;
  background-color: var(--primary);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 700;
}

.user-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.current-user {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 1rem;
}

.hero {
  background-image: linear-gradient(to right, #8a2be2, #4b0082);
  background-image: url('hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  position: relative;
}

.hero .hero-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #3c3c3cb1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: #fff;
}

.hero h2 {
  font-size: 3rem;
  margin: 2rem 0;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 2rem;
}

.hero .actions {
  margin: 2rem 0;
}

/* Feature Section  */
.features {
  background-color: #fff;
  padding: 3rem 0;
}

.features > h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  justify-items: center;
  gap: 0.5rem;
  padding: 1rem;
  width: 100%;
  margin: 0 auto;
  font-size: 1.1rem;
}

.feature-grid .feature {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary);
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 500px;
}

.feature h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 20px;
}

.feature-icon {
  display: block;
  font-size: 3rem;
}

.feature p {
  font-size: 1.2em;
  line-height: 1.6;
}

.feature:hover i {
  color: #2196f3;
}

/* Footer Section */
footer {
  background-color: var(--dark);
  color: #fff;
  font-size: 1.2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.dev-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.socials {
  display: flex;
  padding: 1rem;
  gap: 1.5rem;
}

.social-link {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.social-link:hover {
  opacity: 1;
}

.footer-bottom {
  text-align: center;
  font-size: 1rem;
  opacity: 0.7;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .main-nav,
  .contact-section {
    flex-direction: column;
    padding: 0;
  }

  .hero {
    height: 90vh;
  }

  .brand-bar {
    display: flex;
    width: 100%;
    padding: 0.5rem;
    justify-content: space-between;
  }

  #toggle-nav-btn {
    display: block;
  }

  .user-actions,
  .user-info {
    background-color: var(--secondary);
    width: 100%;
    padding: 0.5rem;
    justify-content: space-between;
  }

  .nav-links {
    display: none;
    order: 1;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    width: 100%;
    padding: 1rem 0.5rem;
    overflow: hidden;
  }

  .show {
    display: flex;
  }

  .feature-grid {
    grid-template-columns: 1fr;
  }
}
