* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6c6488;
  --secondary: aliceblue;
  --light-blue: #d6d1ff;
  --aqua: #6bbaa7;
  --danger: #e24e42;
  --gold: #fba100;
  --dark: #3c3c3c;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.page-container {
  background-color: var(--primary);
  padding: 2rem;
  min-height: 100vh;
  overflow: hidden;
}

.page-title {
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

/* Button styles  */

.cta-btn {
  display: block;
  width: fit-content;
  background-color: #fff;
  color: var(--gold);
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cta-btn:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.secondary-btn {
  background-color: var(--dark);
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  margin: 0;
  text-align: center;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 0.5rem 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: #121212;
}

.warning-btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1em;
  font-weight: 600;
  color: #fff;
  background-color: var(--danger);
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  text-decoration: none;
  cursor: pointer;
}

.warning-btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.link {
  color: var(--gold);
  text-decoration: none;
  position: relative;
  transition: color 0.2s ease-out;
}

.link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--gold);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-out;
}

.link:hover {
  color: #fff;
}

.link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* List empty page  */

.list-empty-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #fff;
  min-height: 50vh;
  padding: 2rem 1rem;
}

.list-empty-page > p {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 2rem;
  text-align: center;
}

/* Alert message */

.alert {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.alert-success {
  background-color: #28a745;
}

.alert-info {
  background-color: var(--aqua);
}

.alert-warning {
  background-color: var(--gold);
}

.alert-danger {
  background-color: var(--danger);
}

/* Table design  */

.responsive-table {
  width: 95%;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.211);
  overflow-x: auto;
}

.responsive-table table,
th,
td {
  padding: 0.5rem;
  text-align: center;
}

.responsive-table table {
  width: 100%;
  background-color: #fff;
}

.responsive-table th {
  background-color: var(--aqua);
  font-size: 1.1em;
  color: #fff;
}

.responsive-table tr:nth-child(even) {
  background-color: var(--secondary);
}

.responsive-table tr:hover {
  background-color: var(--light-blue);
}

.responsive-table td {
  border: solid 1px #ccc;
}

.responsive-table td.right {
  text-align: right;
}

.responsive-table tfoot td {
  border-top: 1px solid #ddd;
  font-weight: bold;
  text-align: right;
}
