.public-recipes-container {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.public-recipes-title {
    color: #fff;
    margin: 1.2rem 0 2.5rem 0;
    font-size: 1.8rem;
    font-weight: 800;
}

.public-recipe-card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 2rem;
  }

  .hover:hover {
    color: #ffcd00;
  }

  .public-recipe-name {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .main-cont {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: 70vw;
  }
