.recipes-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.recipe-card {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
}

.recipe-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.recipe-card > header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 15px;
}

.recipe-card-title {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  color: royalblue;
  position: relative;
  display: inline-block;
}

.recipe-card-title::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--primary);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.recipe-card-title:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.recipe-card-title:hover {
  color: var(--primary);
}

.recipe-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 14px;
  color: #666;
}

.recipe-meta span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 8px;
  border-radius: 50px;
  background-color: var(--light-blue);
}

.recipe-meta .recipe-author {
  font-weight: 600;
}

.recipe-body {
  width: 60%;
  font-size: 16px;
  line-height: 1.5;
  background-color: aliceblue;
  padding: 1rem;
  border-radius: 4px;
  color: #333;
  margin-bottom: 10px;
}

.recipe-body > p {
  margin: 0;
  white-space: pre-wrap;
}

/* Recipe Form  */

.recipe-form {
  background-color: #fff;
  border-radius: 4px;
  margin: auto;
  padding: 2rem;
  max-width: 800px;
}

.recipe-form > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.recipe-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.recipe-form .form-control {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

.recipe-form textarea {
  resize: vertical;
  font-family: inherit;
}

.recipe-form input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  width: 100%;
  margin-top: 1rem;
}

.recipe-form input[type='submit']:hover {
  background-color: #3e8e41;
}

/* Recipe show page  */

.recipe-detail {
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-blue);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-header > div {
  display: flex;
  align-items: center;
}

.recipe-header > div span {
  font-size: 1.1rem;
  font-weight: 700;
}

.toggle-container {
  width: 60px;
  height: 30px;
}

.toggle-container form,
.toggle-btn {
  width: 100%;
  height: 100%;
}

.toggle-btn {
  border: none;
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.toggle-container.on .toggle-btn {
  background-image: url('on-button.png');
}

.toggle-container.off .toggle-btn {
  background-image: url('off-button.png');
}

.recipe-actions {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.recipe-action-btn {
  display: block;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  border-radius: 0;
  border: none;
  cursor: pointer;
  margin: 0 0.25rem;
  background-color: #9575cd;
  transition: all 0.3s ease;
}

.recipe-action-btn:hover {
  background-color: #7e57c2;
}

.recipe-action-btn.del-btn {
  background-color: crimson;
}

.recipe-action-btn.del-btn:hover {
  background-color: maroon;
}

/* Empty recipes page */

.empty-recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  min-height: 50vh;
  text-align: center;
  gap: 1rem;
  padding: 2rem;
}

.empty-recipes h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.empty-recipes p {
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .recipe-card,
  .recipe-body {
    flex-direction: column;
    width: 100%;
  }

  .recipe-detail {
    width: 100%;
  }

  .recipe-header,
  .recipe-actions {
    flex-direction: column;
    gap: 1rem;
  }

  .recipe-action-btn,
  .recipe-actions form {
    width: 100%;
  }

  .recipe-header > div {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .meta-label {
    display: block;
  }
}
