<footer>
  <div class="footer-content">
    <div class="socials">
      <a href="#" class="social-link">Facebook</a>
      <a href="#" class="social-link">Twitter</a>
      <a href="#" class="social-link">LinkedIn</a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2023 Kitchen Genie. All rights reserved.</p>
  </div>
</footer>