<footer>
  <div class="footer-content">
    <div class="socials">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">LinkedIn</a>
    </div>
  </div>
  <div class="footer-bottom">
    <p>© 2023 Kitchen Genie. All rights reserved.</p>
  </div>
</footer>