<footer>
  <h3>Developers</h3>
  <div class="contact-section">
    <div class="dev-contact">
      <h4>Thomas Obuya</h4>
      <div class="socials">
        <a href="https://github.com/tobuya" target="_blank" class="social-link">GitHub</a>
        <a href="mailto:thomasobuya95@gmail.com" target="_blank" class="social-link">Email</a>
        <a href="https://linkedin.com/in/tobuya" target="_blank" class="social-link">LinkedIn</a>
      </div>
    </div>
    <div class="dev-contact">
      <h4>Hein Thant</h4>
      <div class="socials">
        <a href="https://github.com/IndieCoderMM" target="_blank" class="social-link">GitHub</a>
        <a href="mailto:hthant00chk@gmail.com" target="_blank" class="social-link">Email</a>
        <a href="https://linkedin.com/in/hthantoo" target="_blank" class="social-link">LinkedIn</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy; 2023 <a href="https://github.com/tobuya/kitchen-genie" target="_blank" rel="noreferrer" class="link">Kitchen Genie</a>. All rights reserved.</p>
  </div>
</footer>