<h1>Kitchen Genie</h1>
<nav>
    <ul>
        <li><%= link_to "Food List", root_path %></li>
        <li><%= link_to "Recipe List", root_path %></li>
        <li><%= link_to "Public recipes", root_path %></li>
        <li><%= link_to "Shopping List", root_path %></li>
    </ul>
</nav>