<%= render 'header' %>

<main class="hero">
    <h2>Discover a world of delicious recipes</h2>
    <p>Get inspired to cook with a collection of easy-to-follow recipes.</p>
    <%= link_to "Browse Recipes", public_recipes_path, class: "cta-btn" %>
</main>

<%= render 'footer' %>
